.sidebar {
  @import './navigation/navigation';
  @import './logo/logo';
  @import './social-media/social-media';

  width: $sidebar-width;
  padding: $sidebar-padding 0 $sidebar-padding $sidebar-padding;
  position: fixed;
}
