.sidebar {
  @import './navigation/navigation';
  @import './logo/logo';
  @import './social-media/social-media';

  width: $sidebar-width;
  height: 100%;
  padding: $page-padding 0 $page-padding $page-padding;
  box-sizing: border-box;
  margin-right: 30px;
}
