.page-layout {
  @import './components/sidebar/sidebar';

  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;

  .main-content {
    padding: 30px;
    width: calc(100% - #{$sidebar-width-with-padding});
    margin-left: $sidebar-width-with-padding;
  }
}
