.sidebar {
  @import './navigation/navigation';
  @import './logo/logo';
  @import './social-media/social-media';

  $sidebar-padding: 30px;

  width: 220px;
  padding: $sidebar-padding 0 $sidebar-padding $sidebar-padding;
}
